body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
h1{  
    color: #66bfbf;
    font-size:552%;  
    margin-top: 30px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66bfbf;
    font-family: 'montserrat' sans-serif;
    font-size: 2.3rem;
    font-weight: normal;
}
h3{
    color: #11999E;
    font-family: 'montserrat' sans-serif; 
}
.top-container{
    background-color: #E1FFEE;
    position: relative;
    padding-top: 40px;
}
.middle-section{
    margin: 100px 0;
}

.bottom-cloud{
    position: absolute;
    left: 330px;
    height: 80px;
    width: 140px;
}
.top-cloud{
    position: relative;
    left: 220px;
    height: 80px;
    width: 140px;
}
.mountain{
    width: 500px;
    height: 400px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.web-design{
    width: 25%;
    float: left;
    margin-right:30px;
}
.video-game{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.my-photo{
    width: 25%;
}
hr{
    border-style:none;
    border-top-style: dotted;
    border-color: #EAf6f6;
    border-width: 9px;
    width: 6%;
    margin: 50px auto 80px auto;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border: none;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
.bottom-section{
    background-color: #66bfbf;
    margin-top: 70px;
    padding: 30px;
}
a{
    color: #11999E;
    margin:30px;
    text-decoration: none;
}
a:hover{
    color: #EAf6f6;
}
.last{
    color: #EAf6f6;
    margin-top: 40px;
    margin-bottom: 25px;
}
.about{
    font-size: 30px;
}
.contact-me{
    width: 50%;
    margin: 40px auto 60px;
}